In [2]:
print("helloworld")

helloworld

In [3]:
print("%s %d" % ("apple", 1))

apple 1

In [4]:
print("Case #%d: %s" %(1, 'ans'))

Case #1: ans

In [5]:
print("Case #{}: {} {} {}".format(1, 2, 3, 4))

Case #1: 2 3 4

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(1, 10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(1, 10+1, 2):
    print(i)

1
3
5
7
9

In [11]:
if False:
    print("Correct")
else:
    print("False")

False

In [12]:
2 > 1

True

In [13]:
2 == 1

False

In [14]:
1 < 2

True

In [15]:
1 <= 2

True

In [16]:
True or False

True

In [17]:
True and False

False

In [18]:
(2 > 1) and ( 1 == 1)

True

In [19]:
s = "I am chris lin."

In [20]:
print(s)

I am chris lin.

In [21]:
type(s)

str

In [22]:
len(s)

15

In [23]:
list_1 = ['a', 'b', 'c', 'd']

In [24]:
print(list_1)

['a', 'b', 'c', 'd']

In [25]:
type(list_1)

list

In [26]:
list_1 = ['a', True, 2, []]

In [27]:
print(list_1)

['a', True, 2, []]

In [28]:
s

'I am chris lin.'

In [29]:
s.split()

['I', 'am', 'chris', 'lin.']

In [30]:
s.split('am')

['I ', ' chris lin.']